/Blockchain/task/test/BlockchainTest.java
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/course-info.yaml
/course-remote-info.yaml
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.6.1/fileHashes/fileHashes.lock
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.6.1/gc.properties
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/6.6.1/fileChanges/last-build.bin
/.gradle/6.7/fileChanges/last-build.bin
/Blockchain/lesson-info.yaml
/.gradle/checksums/md5-checksums.bin
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/Blockchain/A proof of work concept/task.html
/Blockchain/Blockchain essentials/task.html
/Blockchain/Local currency/task.html
/Blockchain/Matters of security/task.html
/Blockchain/Miner mania/task.html
/Blockchain/You’ve got a message/task.html
/Blockchain/A proof of work concept/task-info.yaml
/Blockchain/Blockchain essentials/task-info.yaml
/Blockchain/Local currency/task-info.yaml
/Blockchain/Matters of security/task-info.yaml
/Blockchain/Miner mania/task-info.yaml
/Blockchain/You’ve got a message/task-info.yaml
/Blockchain/A proof of work concept/task-remote-info.yaml
/Blockchain/Blockchain essentials/task-remote-info.yaml
/Blockchain/Local currency/task-remote-info.yaml
/Blockchain/Matters of security/task-remote-info.yaml
/Blockchain/Miner mania/task-remote-info.yaml
/Blockchain/You’ve got a message/task-remote-info.yaml
/Blockchain/task/build/tmp/test/jar_extract_9211331552322909838_tmp
/Blockchain/task/build/tmp/test/jar_extract_11859672832239212086_tmp
/Blockchain/task/build/tmp/test/jar_extract_13922956184783510179_tmp
/Blockchain/task/build/tmp/test/jar_extract_14288215861773618952_tmp
/Blockchain/task/build/classes/java/main/blockchain/AppRunner.class
/Blockchain/task/out/production/classes/blockchain/AppRunner.class
/Blockchain/task/build/reports/tests/test/css/base-style.css
/Blockchain/task/build/classes/java/main/blockchain/Block.class
/Blockchain/task/build/classes/java/test/Block.class
/Blockchain/task/out/production/classes/blockchain/Block.class
/Blockchain/task/build/classes/java/main/blockchain/Blockchain.class
/Blockchain/task/out/production/classes/blockchain/Blockchain.class
/Blockchain/task/build/classes/java/test/BlockchainTest.class
/Blockchain/task/build/reports/tests/test/classes/BlockchainTest.html
/Blockchain/task/build/classes/java/test/BlockParseException.class
/.gradle/6.6.1/javaCompile/classAnalysis.bin
/Blockchain/task/build/classes/java/test/Clue.class
/Blockchain/task/build/reports/tests/test/packages/default-package.html
/.gradle/6.6.1/executionHistory/executionHistory.bin
/.gradle/6.6.1/executionHistory/executionHistory.lock
/.gradle/6.6.1/fileContent/fileContent.lock
/.gradle/6.6.1/fileHashes/fileHashes.bin
/Blockchain/task/build/classes/java/main/blockchain/util/HashUtil.class
/Blockchain/task/out/production/classes/blockchain/util/HashUtil.class
/Blockchain/task/build/reports/tests/test/index.html
/Blockchain/task/build/tmp/test/jar_extract_1189202679753932704_tmp
/Blockchain/task/build/tmp/test/jar_extract_8043888414640200103_tmp
/.gradle/6.6.1/javaCompile/jarAnalysis.bin
/.gradle/6.6.1/javaCompile/javaCompile.lock
/Blockchain/task/build/classes/java/main/blockchain/Main.class
/Blockchain/task/out/production/classes/blockchain/Main.class
/Blockchain/task/build/test-results/test/binary/output.bin
/Blockchain/task/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/Blockchain/task/build/reports/tests/test/js/report.js
/.gradle/6.6.1/fileHashes/resourceHashesCache.bin
/Blockchain/task/build/test-results/test/binary/results.bin
/Blockchain/task/build/tmp/compileJava/source-classes-mapping.txt
/Blockchain/task/build/tmp/compileTestJava/source-classes-mapping.txt
/Blockchain/task/build/reports/tests/test/css/style.css
/.gradle/6.6.1/javaCompile/taskHistory.bin
/Blockchain/task/build/test-results/test/TEST-BlockchainTest.xml
/Problems/lesson-info.yaml
/Problems/Implement Runnable/src/Main.java
/Problems/Resolve a diamond problem/src/Main.java
/Problems/Single method/src/Main.java
/Problems/Implement Runnable/task.html
/Problems/Resolve a diamond problem/task.html
/Problems/Single method/task.html
/Problems/Implement Runnable/task-info.yaml
/Problems/Resolve a diamond problem/task-info.yaml
/Problems/Single method/task-info.yaml
/Problems/Implement Runnable/task-remote-info.yaml
/Problems/Resolve a diamond problem/task-remote-info.yaml
/Problems/Single method/task-remote-info.yaml
/.idea/modules/Problems/Implement Runnable/Blockchain.Problems-Implement_Runnable.iml
/.idea/modules/Problems/Implement Runnable/Blockchain.Problems-Implement_Runnable.main.iml
/.idea/modules/Problems/Implement Runnable/Blockchain.Problems-Implement_Runnable.test.iml
/.idea/modules/Problems/Resolve a diamond problem/Blockchain.Problems-Resolve_a_diamond_problem.iml
/.idea/modules/Problems/Resolve a diamond problem/Blockchain.Problems-Resolve_a_diamond_problem.main.iml
/.idea/modules/Problems/Resolve a diamond problem/Blockchain.Problems-Resolve_a_diamond_problem.test.iml
/.idea/modules/Problems/Single method/Blockchain.Problems-Single_method.iml
/.idea/modules/Problems/Single method/Blockchain.Problems-Single_method.main.iml
/.idea/modules/Problems/Single method/Blockchain.Problems-Single_method.test.iml
/.idea/modules/Problems/Complete a class/Blockchain.Problems-Complete_a_class.iml
/.idea/modules/Problems/Complete a class/Blockchain.Problems-Complete_a_class.main.iml
/.idea/modules/Problems/Complete a class/Blockchain.Problems-Complete_a_class.test.iml
/.idea/modules/Problems/Complete the eager singleton/Blockchain.Problems-Complete_the_eager_singleton.iml
/.idea/modules/Problems/Complete the eager singleton/Blockchain.Problems-Complete_the_eager_singleton.main.iml
/.idea/modules/Problems/Complete the eager singleton/Blockchain.Problems-Complete_the_eager_singleton.test.iml
/Problems/Complete a class/src/Main.java
/Problems/Complete the eager singleton/src/Main.java
/Problems/Complete a class/task.html
/Problems/Complete the eager singleton/task.html
/Problems/Complete a class/task-info.yaml
/Problems/Complete the eager singleton/task-info.yaml
/Problems/Complete a class/task-remote-info.yaml
/Problems/Complete the eager singleton/task-remote-info.yaml
