/Blockchain/task/test/BlockchainTest.java
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/course-info.yaml
/course-remote-info.yaml
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.6.1/fileHashes/fileHashes.lock
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.6.1/gc.properties
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/6.6.1/fileChanges/last-build.bin
/.gradle/6.7/fileChanges/last-build.bin
/Blockchain/lesson-info.yaml
/.gradle/checksums/md5-checksums.bin
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/Blockchain/A proof of work concept/task.html
/Blockchain/Blockchain essentials/task.html
/Blockchain/Local currency/task.html
/Blockchain/Matters of security/task.html
/Blockchain/Miner mania/task.html
/Blockchain/You’ve got a message/task.html
/Blockchain/A proof of work concept/task-info.yaml
/Blockchain/Blockchain essentials/task-info.yaml
/Blockchain/Local currency/task-info.yaml
/Blockchain/Matters of security/task-info.yaml
/Blockchain/Miner mania/task-info.yaml
/Blockchain/You’ve got a message/task-info.yaml
/Blockchain/A proof of work concept/task-remote-info.yaml
/Blockchain/Blockchain essentials/task-remote-info.yaml
/Blockchain/Local currency/task-remote-info.yaml
/Blockchain/Matters of security/task-remote-info.yaml
/Blockchain/Miner mania/task-remote-info.yaml
/Blockchain/You’ve got a message/task-remote-info.yaml
